
header {
    /* Display */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

h1 {
    /* Display */
    width: auto;
    margin: 0 auto;
}

.notifications-and-due {
    /* Display */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.notifications-container {
    /* Display */
    width: 40%;
    border: 2px solid rgb(215, 188, 188);

    /* Colour */
    color: rgb(215, 188, 188);
    background-color: rgb(35, 41, 106);
}



.info-box {
    /* Display */


    /* Text */
    font-size: 15px;
    font-weight: 300;

    /* Colour */

}

.title-box {
    /* Text */
    font-size: 20px;
    font-weight: 500;
}