body {
    /* Display */
    margin: 0;

    /* Colour */
    color: white;
    background-color: black;
}

header {
    /* Display */
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px white solid;

}

.title {
    /* Display */
    padding-left: 20px;
}

.container-container{
    /* Display */
    display: flex;
}

.new-stage-container {
    /* Display */
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 10px;

    /* Colour */
    color: black;
    background-color: white;
}

.new-stage-container:hover {
    /* Colour */
    color: black;
    background-color: rgb(159, 158, 158);
}

i {
    /* Display */
    padding-left: 5px;
} 

.new-stage-expanded-container {
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    padding-left: 5px;

    /* Colour */
    color: black;
    background-color: white;
}

.stage {
    /* Display */
    align-items: center;
    width: 200px;
    border-radius: 10px;

    /* Colour */
    color: black;
    background-color: white;
}

.name-and-delete {
    /* Display */
    display: flex;
    justify-content: space-around;
}

.hidden {
    /* Display */
    display: none;
}
